.shop{
    padding: 130px 12px;
   
}

.shop h2{
    text-align: center;
    margin-bottom: var(--mg-bottom);
    font-size: 2.66rem;
}

.shop p{
    font-size: 0.90rem;
    margin-bottom: var(--mg-bottom);
    text-align: center
}

.shop > span{
    color: var(--color-red);
    display: inline-block;
    font-weight: bold;
}

.card-shop{
    max-width: 470px;
    width: 100%;
    padding: 1.45rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-bg-white);
    position: relative;
    user-select: none;
    
}


.card-shop h3{
    color: var(--color-primary);
}
.card-shop .top{
    background-color: var(--color-red);
    padding: 0.90rem 1.45rem;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 3%;
    left: 3%;
}

.card-shop .desc{
    color: var(--color-primary);
}

.card-shop .desc .red{
    color: var(--color-red);
}

.price{
    background-color: var(--color-primary);
    color: var(--color-red);
    font-weight: bold;
    padding: 0.90rem 2rem;
    border-radius: 5px;
}